@model LatchTalks.Models.LocalPasswordModel

<h3>Cambiar contraseña</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulario de cambio de contraseña</legend>
        <ol style="list-style-type: none">
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.TextBoxFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.TextBoxFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.TextBoxFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Cambiar contraseña"  class="btn btn-primary"/>
    </fieldset>
}
