@model LatchTalks.Models.LocalPasswordModel
@{
    ViewBag.Title = "Administrar cuenta";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Ha iniciado sesión como <strong>@User.Identity.Name</strong>.</p>


@Html.Partial("_ChangePasswordPartial")


@Html.Partial("_LatchPair")
@*@Html.Action("LatchStatus");*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
